name: fairmq-ex-1-n-1-sink
defaults:
  log_task_output: none
control:
  mode: fairmq
wants:
  cpu: 0.001
  memory: 8
bind:
- name: "data2"
  type: "pull"
  sndBufSize: 1000
  rcvBufSize: 1000
  rateLogging: 0
properties:
  severity: trace
  color: false
command:
  env: []
  log: "{{ log_task_output }}"
  shell: true
  user: flp
  arguments: []
  value: >-
    source /etc/profile.d/modules.sh && MODULEPATH={{ modulepath }} module load FairMQ Control-OCCPlugin &&
    fairmq-ex-1-n-1-sink
