name: roc-config-uri
control:
  mode: basic
wants:
  cpu: 0.2
  memory: 256
defaults:
  rocConfigBypassFwCheck: "false"
  rocConfigForceConfig: "false"
command:
  env:
    - INFOLOGGER_MODE={{ infologger_mode }}
  shell: true
  value: >-
    source /etc/profile.d/modules.sh &&
    MODULEPATH={{ modulepath }} module load ReadoutCard &&
    o2-roc-config
  arguments:
    - "--id"
    - "{{ rocConfigId }}"
    - "--config-uri"
    - "{{ rocConfigConfigUri }}"
    - "{{ rocConfigBypassFwCheck  == 'true' ? '--bypass-fw-check' : ''}}"
    - "{{ rocConfigForceConfig == 'true' ? '--force-config' : '' }}"
