name: stfsender
control:
  mode: fairmq
wants:
  cpu: 0.15
  memory: 128
defaults:
  max_buffered_stfs: "-1"
  dd_discovery_net_if: "ib0" #the loopback intf
  dd_discovery_endpoint: "no-op://" # location of consul docker instance
  user: flp
  fmq_severity: info
  log_task_output: none
  _module_cmdline: >-
    source /etc/profile.d/modules.sh && MODULEPATH={{ modulepath }} module load DataDistribution Control-OCCPlugin &&
    StfSender
  _plain_cmdline: "{{ o2_install_path }}/bin/StfSender"
command:
  env:
    - O2_INFOLOGGER_MODE={{infologger_mode}}
    - INFOLOGGER_MODE={{infologger_mode}}
    - http_proxy=""
    - https_proxy=""
    - no_proxy=-ib,.internal
    - O2_DETECTOR={{ detector }}
  log: "{{ log_task_output }}"
  shell: true
  user: "{{ user }}"
  value: "{{ len(modulepath)>0 ? _module_cmdline : _plain_cmdline }}"
  arguments:
    - "--session=default"
    - "--transport=shmem"
    - "--input-channel-name={{ stfs_input_channel_name }}"
    - "--severity={{ fmq_severity }}"
    - "--severity-infologger={{ infologger_severity }}"
    - "--monitoring-backend='{{ monitoring_dd_url }}'"
    - "--discovery-partition={{ environment_id }}"
    - "--discovery-id={{ dd_discovery_stfs_id }}"
    - '{{ ddsched_enabled == "true" ? "--discovery-endpoint=" + dd_discovery_endpoint : "" }}'
    - "--discovery-net-if={{ dd_discovery_net_if }}"
    - '{{ ddsched_enabled == "true" ? "" : "--stand-alone" }}'
    - "--shm-monitor=false"
