name: GUIChecks
on:
  pull_request:
    paths:
      - 'tasks/*'
      - 'workflows/*'
  push:
    branches:
      - 'master'
env:
  LIST_OF_VARIABLES: \[-dcs_enabled:-\]\|\[-trg_enabled:-\]\|\[-epn_enabled:-\]\|\[-odc_topology:-\]\|\[-odc_enabled:-\]\|\[-qcdd_enabled:-\]\|\[-dd_enabled:-\]\|\[-ddsched_enabled:-\]\|\[-minimal_dpl_enabled:-\]\|\[-readout_cfg_uri:-\]\|\[-qc_config_uri:-\]
jobs:
  workflows-directory-check:
    name: Checks no changes are done to fix variables in workflow directory
    runs-on: macOS-latest
    env:
      RESULT_WORKFLOWS: ''
    steps:
      - uses: actions/checkout@v2
        with:
            fetch-depth: 0
            path: ControlWorkflows
      - run: (echo "Checks will be ran against branch ${GITHUB_HEAD_REF}")
      - run: (cd ControlWorkflows; git checkout ${GITHUB_BASE_REF})
      - run: (cd ControlWorkflows; git checkout ${GITHUB_HEAD_REF})
      - name: Run GUI variables checks for WORKFLOWS
        working-directory: ./ControlWorkflows
        run: |
          git diff $GITHUB_BASE_REF $GITHUB_HEAD_REF -U0 --word-diff > workflow_changes.txt
          echo "$(<workflow_changes.txt )"
          echo "CHANGES_ABOVE"
          RESULT_WORKFLOWS=$(grep ${{env.LIST_OF_VARIABLES}} workflow_changes.txt)
          echo $RESULT_WORKFLOWS
          echo "RESULT_CHANGES_ABOVE"
          if [ -z "$RESULT_WORKFLOWS" ];
          then
            echo "WORKFLOWS folder did not find any breaking changes"
          else 
            echo "WORKFLOWS folder found breaking changes. Please inform GUI Developer"
            exit 1
          fi
